<h3>Data from server</h3>
<table class="center table table-hover table-responsive table-bordered " >
   <thead class="thead-dark "> 
    <tr> 
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
       
    </tr>
   </thead>
   <tbody>
    <ng-container *ngFor="let d of dataList;let i=index">
        <tr>
            <td>{{i+1}}</td>
            <td>{{d.id}}</td>
            <td>{{d.employee_name}}</td>
            <td>{{d.employee_salary}}</td>
            <td>{{d.employee_age}}</td>
        </tr>
    </ng-container>
       
   </tbody>

</table>
